<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->
    <link rel="stylesheet" href="../styles/stylesheet.css" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap"rel="stylesheet"/>

    <title>Frontend Mentor | Todo app</title>

    <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
    <style>
      .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
    </style>
  </head>
  <body>
    <header>
      <img src="../images/bg-desktop-dark.jpg" alt="">
    </header>

    <main>
      <div id='heading'>
        <h1>TODO</h1>
        <span id=theme><img id=principalImage src="../images/icon-sun.svg" alt="change theme"/></span>
      </div>
      
      <section id=todo>
        <div class="card input">
          <input type="text" placeholder="Create a new todo" />
        </div>
      </section>

      <section id=allTodo>
        <ul>
          <li class="card">
            <div class='circle'></div>
            <p>complete online javaScript course</p>
            <span><img src="../images/icon-cross.svg" alt=""></span>
          </li>
            
          
        </ul>
      </section>
        
      
      <section>
        <!-- Add dynamic number -->
        items left All Active Completed Clear Completed
      </section>
    </main>

    <footer>Drag and drop to reorder list</footer>

    <div class="attribution">
      Challenge by
      <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
        >Frontend Mentor</a
      >. Coded by <a href="#">Your Name Here</a>.
    </div>
  </body>
</html>
