:root{
    --bright-blue: hsl(220, 98%, 61%);
    --check-background: linear-gradient(hsl(192, 100%, 67%) to hsl(280, 87%, 65%));
    
    /*Light theme*/
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
    --Light-Grayish-Blue: hsl(233, 11%, 84%);
    --Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

    /*Dark theme*/
    --Very-Dark-Blue: hsl(235, 21%, 11%);
    --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --Light-Grayish-Blue: hsl(234, 39%, 85%);
    --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
    --Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
    --Very-Dark-Grayish-Blue1: hsl(237, 14%, 26%);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--Light-Grayish-Blue);
}

/*  HEADER ----------------------------------------*/
header{
    width: 100%;
    display: flex;
}

body{
    background: var(--Very-Dark-Blue);
    overflow-x: hidden;
}

header img{
    width: 108rem;
    height: auto;
    z-index: -1;
    position: absolute;
}

/* MAIN ------------------------------------------*/
main{
    width: 45%;
    margin: auto;
    min-width: 500px;
}

#heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7rem;
    margin-bottom: 3rem;
}

#heading h1{
    font-size: 3em;
    letter-spacing: 1rem;
    color: white;
}

#heading img{
    width: 2rem;
}

#theme{
    cursor: pointer;
}

/* CARDS -----------------------------------------*/

.card{
    width: 100%;
    padding: 1rem 2rem;
    height: 4.5rem;
    background: var(--Very-Dark-Desaturated-Blue);
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1.5px var(--Very-Dark-Grayish-Blue);
}

.card.input{
    border: none;
}

.card p{
    font-size: 20px;
}

.card div{
    display: flex;
    align-items: center;
}

.input{
    margin-bottom: 2rem;  
    box-shadow: 1px 1px 6px var(--Very-Dark-Grayish-Blue1); 
    border-radius: 0.35rem;
}

.card input{
    width: 90%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    font-size: 25px;
    font-weight: 400;
}

ul .card:first-child{
    border-radius: 0.5rem 0.5rem 0 0;
}

.circle{
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    border: 2px solid var(--Very-Dark-Grayish-Blue); 
    margin-right: 1.5rem;
}

.circle:hover{
    cursor: pointer;
    
}

/* FUNCTIONS -----------------------------------------*/
.functions{
    width: 100%;
    padding: 1rem 2rem;
    height: 3rem;
    background: var(--Very-Dark-Desaturated-Blue);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
}

.functions a, .functions p{
    color: var(--Very-Dark-Grayish-Blue);
}

#select{
    display: flex;
    justify-content: space-around;
    font-weight: 700;
}

#select a:hover, #clear a:hover{
    cursor: pointer;
    color: var(--Light-Grayish-Blue-hover);
}


#clear{
    text-align: right;
}

#select a::marker{
    color:var(--bright-blue)
}
